/*

    The following CSS codes are created by the YellowPencil plugin.
    https://yellowpencil.waspthemes.com/


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. "Principes pedagogiques" Page

*/



/*-----------------------------------------------*/
/*  "Principes pedagogiques" Page                */
/*-----------------------------------------------*/
body.page-id-700 .elementor-element-1694afa .elementor-widget-image .wp-image-804{
	-webkit-transform:translatex(109px) translatey(0px);	-ms-transform:translatex(109px) translatey(0px);	transform:translatex(109px) translatey(0px);
}

body.page-id-700 .elementor-element-1694afa .wp-image-813, body.page-id-700 .elementor-element-1694afa .wp-image-814{
	-webkit-transform:translatex(0px) translatey(279px);	-ms-transform:translatex(0px) translatey(279px);	transform:translatex(0px) translatey(279px);
}

body.page-id-700 .elementor-element-1694afa .elementor-widget-image .wp-image-806{
	-webkit-transform:translatex(-119px) translatey(145px);	-ms-transform:translatex(-119px) translatey(145px);	transform:translatex(-119px) translatey(145px);
}

body.page-id-700 .elementor-element-1694afa .elementor-widget-image .wp-image-811{
	-webkit-transform:translatex(111px) translatey(402px);	-ms-transform:translatex(111px) translatey(402px);	transform:translatex(111px) translatey(402px);
}

body.page-id-700 .elementor-element-1694afa .elementor-widget-image .wp-image-812{
	-webkit-transform:translatex(111px) translatey(609px);	-ms-transform:translatex(111px) translatey(609px);	transform:translatex(111px) translatey(609px);
}

body.page-id-700 .elementor-element-1694afa .elementor-widget-image .wp-image-810{
	-webkit-transform:translatex(110px) translatey(196px);	-ms-transform:translatex(110px) translatey(196px);	transform:translatex(110px) translatey(196px);
}

body.page-id-700 .elementor-element-1694afa .elementor-widget-image .wp-image-814{
	-webkit-transform:translatex(-117px) translatey(569px);	-ms-transform:translatex(-117px) translatey(569px);	transform:translatex(-117px) translatey(569px);
}

body.page-id-700 .elementor-element-1694afa .elementor-widget-image .wp-image-813{
	-webkit-transform:translatex(-116px) translatey(345px);	-ms-transform:translatex(-116px) translatey(345px);	transform:translatex(-116px) translatey(345px);
}